@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainHead {
  background-image: url("https://cdn-image.staticsfly.com/i/store/WF718029_Assets/WF718029_Prints_marquee_2.jpg?impolicy=resize&width=1600");
  
}

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  /*--tw-color-primary-50: 240 249 255;*/
  /*--tw-color-primary-100: 224 242 254;*/
  /*--tw-color-primary-200: 186 230 253;*/
  /*--tw-color-primary-300: 125 211 252;*/
  /*--tw-color-primary-400: 56 189 248;*/
  /*--tw-color-primary-500: 14 165 233;*/
  /*--tw-color-primary-600: 2 132 199;*/
  /*--tw-color-primary-700: 3 105 161;*/
  /*--tw-color-primary-800: 7 89 133;*/
  /*--tw-color-primary-900: 12 74 110;*/
  /*--color-primary-50: rgb(var(--tw-color-primary-50)); !* #f0f9ff *!*/
  /*--color-primary-100: rgb(var(--tw-color-primary-100)); !* #e0f2fe *!*/
  /*--color-primary-200: rgb(var(--tw-color-primary-200)); !* #bae6fd *!*/
  /*--color-primary-300: rgb(var(--tw-color-primary-300)); !* #7dd3fc *!*/
  /*--color-primary-400: rgb(var(--tw-color-primary-400)); !* #38bdf8 *!*/
  /*--color-primary-500: rgb(var(--tw-color-primary-500)); !* #0ea5e9 *!*/
  /*--color-primary-600: rgb(var(--tw-color-primary-600)); !* #0284c7 *!*/
  /*--color-primary-700: rgb(var(--tw-color-primary-700)); !* #0369a1 *!*/
  /*--color-primary-800: rgb(var(--tw-color-primary-800)); !* #075985 *!*/
  /*--color-primary-900: rgb(var(--tw-color-primary-900)); !* #0c4a6e *!*/
  /* #endregion  /**======== Primary Color =========== */
}

.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

